<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <a href="/pagina" class="logo d-flex align-items-center w-auto">
                <img src="/assets/img/castle1.png" alt="">
                <span class="d-none d-lg-block">PatrimónioPT</span>
              </a>
            </div>
            <div class="card mb-3">
              <section class="section">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Registration Successful!</h5>
                    <button (click)="redirectToLogin()" class="btn btn-success">Login</button>
                  </div>
                </div>
              </section>
            </div>
            
                   
          </div>
        </div>
      </div>
    </section>
  </div>
  