<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
  
            <div class="d-flex justify-content-center py-4">
              <a href="/page" class="logo d-flex align-items-center w-auto">
                <img src="/assets/img/castle1.png" alt="">
                <span class="d-none d-lg-block">PatrimónioPT</span>
              </a>
            </div><!-- End Logo -->
  
            <div class="card mb-3">
  
              <div class="card-body">
  
                <div *ngIf="!emailEnviado">
  
                  <div class="pt-4 pb-2">
                    <p class="text-center small">Escreve o teu email para recuperar a tua palavra-passe</p>
                  </div>
  
                  <div *ngIf="mostrarFormulario" class="container">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
                    </div>
  
                    <div *ngIf="emailNotFoundErrorMessage" class="error-message">
                      {{ emailNotFoundErrorMessage }}
                    </div>
  
                    <br><br>
  
                    <button type="submit" class="btn btn-primary" (click)="recuperarSenha()">Enviar</button>
                  </div>
  
                </div>
  
                <div *ngIf="emailEnviado" class="container">
                    <div class="success-message text-center"> <!-- Adicionando a classe text-center -->
                      {{ mensagem }}
                    </div>
                    <br><br>
                    <button class="btn btn-primary" (click)="redirecionarParaLogin()">Ir para o Login</button>
                  </div>
                  
  
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </section>
  </div>
  